@import "tailwindcss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

body {
    background: repeating-conic-gradient(#5fd9e2 0%, #5edb5a 15%, #5fd9e2 33%);
    height: 100dvh;
    width: 100dvw;
}