*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

body {
    background: repeating-conic-gradient(#383838 0%, #b6b6b6 15%, #383838 33%);
    height: 100dvh;
    width: 100dvw;
}