h1{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(212, 212, 212);
    font-size: 3rem;
    margin: 10px;
    text-shadow: 1px 1px 2px rgb(168, 99, 78);
}