.home-page{
    display:flex;
    flex-direction: column;
}

.travel-intro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:rgb(68, 68, 68);
    margin: 10px;
    padding: 10px;
}

img{
    margin: 20px;
    border-radius: 20px;
}