.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

p{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #dbdbdb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding:10px;
}

p a{
    font-size: medium;
}