h2{
    font-family: Arial, Helvetica, sans-serif;
}

.blog {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100dvw;
    z-index: 10;
    gap: 15px;
    padding:15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: rgb(197, 197, 197) 2px solid;

    font-size: 2rem;
    color: #0a1453;

    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);

}

.blog-name{
    background: linear-gradient(#c4bab0d2, #af977ee2);
    z-index: 0;
    border-radius: 10px;
}

.blog-post{
    background: linear-gradient(#c4bab0d2, #af977ee2);
    z-index: 0;
    border-radius: 10px;
}